.App {
  text-align: center;
}

.App-logo {
  height: 300px
}

.App-header {
  background-image: url('arnold.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
